$yellow : #ffce00;
$blue : #0375b4;
$green : #57ac68;
$red: #ff5851;
$dark : #282c3f;

// $text-primary : #8c8f92;
$text-primary: #000;
$text-secondary : #7e818c;
$text-dark : #33363b;

$grid-columns: 10;
$grid-columns12: 12;
$grid-max-width: 1180px; //breakpoint-small
$breakpoint-xs: "only screen and (min-width: 0px)";
$breakpoint-small: "only screen and (min-width: 451px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
